In [1]:
#librerias a utilizar:
import pandas as pd

CARGO los datasets como dataframes:
#VER luego si uso REQUEST para cargarlos desde link/url. (o funcion de pd para eso.). En tal caso cambia esta linea y el origen.

In [4]:
#AMAZON:
#amazon_df=pd.read_csv('/Users/moncho/Desktop/Henry2/PI_01/PI01_DATA05/Datasets/amazon_prime_titles.csv')  #absolute path
amazon_df=pd.read_csv('Datasets/amazon_prime_titles.csv') #con relative path

In [5]:
amazon_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [6]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [7]:
#DISNEY:
#disney_df=pd.read_csv('/Users/moncho/Desktop/Henry2/PI_01/PI01_DATA05/Datasets/disney_plus_titles.csv')
disney_df=pd.read_csv('Datasets/disney_plus_titles.csv')

In [8]:
disney_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [9]:
#checkeo a ver si tienen las mismas columnas:
disney_df.columns==amazon_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [10]:
disney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [11]:
#HULU
#hulu_df=pd.read_csv('/Users/moncho/Desktop/Henry2/PI_01/PI01_DATA05/Datasets/hulu_titles.csv')
hulu_df=pd.read_csv('Datasets/hulu_titles.csv')

In [12]:
hulu_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [13]:
disney_df.columns==hulu_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [14]:
hulu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [15]:
#NETFLIX:
#netflix_df=pd.read_json('/Users/moncho/Desktop/Henry2/PI_01/PI01_DATA05/Datasets/netflix_titles.json')
netflix_df=pd.read_json('Datasets/netflix_titles.json')

In [16]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [17]:
disney_df.columns==netflix_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [18]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [19]:
#se repiten los id? todos tienen id?
print(amazon_df.show_id.unique())
print(disney_df.show_id.unique())
print(hulu_df.show_id.unique())
print(netflix_df.show_id.unique())

['s1' 's2' 's3' ... 's9666' 's9667' 's9668']
['s1' 's2' 's3' ... 's1448' 's1449' 's1450']
['s1' 's2' 's3' ... 's3071' 's3072' 's3073']
['s1' 's2' 's3' ... 's8805' 's8806' 's8807']

CONCLUSION del primer approach hasta aca: 
Todos tienen id unicos (en su df,) pues me da igual cantidad que el shape[0] de cada dataframe. 
Types: - solo hulu tiene col 'cast' con type=float! IGUALMENTE, SON TODOS NULOS. 
       - columna 'duration': type object, pero tengo 'min' para movies, 'seasons' para series. VER Q ME CONVIENE, separarlas en cols direfentes y
       converirlas a int? Vere mas adelante al definir la funcion que usa esa columna.

In [20]:
#de aca saco la lista de columnas, ya se q es la misma para todos.
amazon_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [21]:
#me falta checkear duplicados!!: (los id ya se que no ser repiten.)
# y ya que estoy , checkear nulos (salvo id)
#columnas salvo 'show_id' y 'platform'(la habia agregado mas abajo):
lista=[ 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'] #'show_id','platform'
duplicados_amazon=amazon_df.duplicated(subset = lista)
#DataFrame.drop_duplicates(subset=None, *, keep='first', inplace=False, ignore_index=False)

In [22]:
duplicados_amazon.unique() #luego, no tenia duplicados. 
#es una manera medio extrania de checkearlo pero me sirve.

array([False])

In [23]:
#hago lo mismo para los otros 3 datasets:
duplicados_disney=disney_df.duplicated(subset = lista)
duplicados_disney.unique()

array([False])

In [24]:
duplicados_hulu=hulu_df.duplicated(subset = lista)
duplicados_hulu.unique()

array([False])

In [25]:
duplicados_netflix=netflix_df.duplicated(subset = lista)
duplicados_netflix.unique()
#luego ninguno tenia duplicados sin tomar en cuenta el 'Show_id'

array([False])

In [26]:
#me fijo si hay duplicados en la columna title, para todos los datasets:
duplicados_disney=disney_df.duplicated(subset = 'title')
duplicados_disney.unique()

array([False])

In [27]:
duplicados_amazon=amazon_df.duplicated(subset = 'title')
duplicados_amazon.unique()

array([False])

In [28]:
duplicados_hulu=hulu_df.duplicated(subset = 'title')
duplicados_hulu.unique()

array([False])

In [29]:
duplicados_netflix=netflix_df.duplicated(subset = 'title')
duplicados_netflix.unique()
#listo, no se repiten los titulos, DENTRO DE CADA PLATAFORMA.

array([False])

In [30]:
#convierto la col 'cast' de hulu_df a str, y checkeo si efectivamente son todos nulos: (en realidad ya lo sabia por el .info() mas arriba !!)
len(hulu_df.cast.unique()) #me da 1, por lo tanto son todos nulos.

1

In [31]:

hulu_df = hulu_df.astype({'cast': str})

In [32]:
hulu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          3073 non-null   object
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: int64(1), object(11)
memory usage: 288.2+ KB

In [33]:
print(hulu_df.cast.unique())
#lo q si q ahora paso de nulos a 'nan' pero son strings....

['nan']

In [34]:
# remplazo por pd.Na:
hulu_df.cast=hulu_df.cast.replace('nan', pd.NA) #puede que no sea tan necesario esto.

In [35]:
#checkeo a ver si hay algun otro tipo en 'type':
print(amazon_df.type.unique())
print(disney_df.type.unique())
print(hulu_df.type.unique())
print(netflix_df.type.unique())
# bien!, nada raro.

['Movie' 'TV Show']
['Movie' 'TV Show']
['Movie' 'TV Show']
['Movie' 'TV Show']

In [36]:
#obs: por ahora no dropeo nada, ni borro ni modifico nulos. 
# columnas q me sirven para las consultas: duration, type, linted_in y cast.
# columnas que NO ME SIRVEN: director, country, rating, description. 
# una vez concatenadas, las podria droppear todas las q no necesito. probablemente ni haga falta ya q no son pesadas.

REALIZO los cambios necesarios para poder concatenar los 4 dataframes:

In [37]:
#primero tengo que diferenciarlos por plataforma (por como son las consultas, mejor agrego una columna especifica), 
# y ver si les hago un id diferente, pues se pisan!! ya que por ej. todos empiezan en 's1'...)
amazon_df['platform']=['amazon' for i in range(0,amazon_df.shape[0])] #hacia falta el list compreh o simplemente podia poner: ' ='amazon' '?
disney_df['platform']=['disney' for i in range(0,disney_df.shape[0])]
hulu_df['platform']=['hulu' for i in range(0,hulu_df.shape[0])]
netflix_df['platform']=['netflix' for i in range(0,netflix_df.shape[0])]

In [38]:
#diferencio los show_id, simplemente le agrego la letra al final referenciando la plataforma,
#A=amazon, D=disney, H=hulu, N=netflix.
amazon_df['show_id'] = 'A' + amazon_df['show_id'].astype(str)

In [39]:
#funciona OK, asiq lo hago con el resto:
disney_df['show_id'] = 'D' + disney_df['show_id'].astype(str)
hulu_df['show_id'] = 'H' + hulu_df['show_id'].astype(str)
netflix_df['show_id'] = 'N' + netflix_df['show_id'].astype(str)

In [40]:
# CONCATENO: 
#(luego este df seria al que la API le hace los request/GET...?)
all_df = pd.concat([amazon_df, disney_df, hulu_df, netflix_df], axis=0) #axis=0 para q sea por filas, igual es default!

In [41]:
#reindexo!:
all_df.reset_index(drop=True, inplace=True)

In [42]:
all_df.index

RangeIndex(start=0, stop=22998, step=1)

In [43]:
#veo si se repiten los 'title' entre plataformas: 
duplicados_all=all_df.duplicated(subset = 'title')
duplicados_all.unique() #si!
duplicados_all.value_counts()
# sale q hay 883 Trues, osea duplicados en general de titulos. dependiendo la consulta, habra q tenerlo en cuenta o no...

False    22115
True       883
dtype: int64

In [44]:
#probablemente, mas adelante, al formular consultas, necesite hacer MAS TRANSFORMACION de datos..!!
#NOTAS sobre ETL:
# 'title' en amazon tiene muchos raaaaros. pasarlos a NA???
#SEPARAR COLUMNA 'duration' para poder operarla!(funcion 3)

Armo las funciones (DESPUES LAS PASO AL main.py) :

In [45]:
#1. Cantidad de veces que se repite un género y plataforma con mayor frecuencia del mismo
def get_listedin(genero): 
    # if genero not in all_df.listed_in.values ...return....o seria levantando un HTTPException 
    #para cada plataforma, calculo el numero para el genero:
    a=all_df[all_df['listed_in'].str.contains(genero) & (all_df['platform']=='amazon')].shape[0]
    d=all_df[all_df['listed_in'].str.contains(genero) & (all_df['platform']=='disney')].shape[0]
    h=all_df[all_df['listed_in'].str.contains(genero) & (all_df['platform']=='hulu')].shape[0]
    n=all_df[all_df['listed_in'].str.contains(genero) & (all_df['platform']=='netflix')].shape[0]
    #le tomo el maximo:
    m= max(a,d,h,n) #si aumentase el # de plataformas, recorro una lista con un for....
    if m==a:   #ver manera mas linda/corta de elegir la plat?
        plat='amazon'
    elif m==d:
        plat='disney'
    elif m==h:
        plat='hulu'
    else: 
        plat='netflix' 
    #faltaria ver si en algun caso da el mismo numero para alguna! una lista [a d h n] y ver si .unique() da menor que len(lista)?
    return f'el genero {genero} se repite con mayor frecuencia en la plataforma {plat} . Se repite {m} veces.'

In [46]:
get_listedin('Comedy') #chequeo q la rta sea 2099: OK.

'el genero Comedy se repite con mayor frecuencia en la plataforma amazon . Se repite 2099 veces.'

In [47]:
#2. Cantidad de películas y series (separado) por plataforma
def get_count_platform(plataforma):
    #if plataforma not in ['amazon', 'disney', 'hulu', 'netflix']..return   ingrese alguna de estas [lista platafs]'...
    #calculo el numero para 'TV Show' y para 'Movie':
    tv=all_df[(all_df['type']=='TV Show') & (all_df['platform']==plataforma)].shape[0]
    movie=all_df[(all_df['type']=='Movie') & (all_df['platform']==plataforma)].shape[0]
    return f'{plataforma} tiene {tv} TV Shows y {movie} Movies'

In [48]:
get_count_platform('netflix') #resultado esta OK!

'netflix tiene 2676 TV Shows y 6131 Movies'

In [49]:
all_df.type.unique() # chequeo que esta OK haberme guiado solo por estos dos tipos.

array(['Movie', 'TV Show'], dtype=object)

In [50]:
all_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,As1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,As2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,As3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,As4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,As5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon

In [51]:
#3. Funcion duracion maxima por tipo, anio y plataforma:
# RTA CORRECTA PARA: get_max_duration(2018,'hulu','min'), titulo: "the house that jack built".
def get_max_duration(anio:int, plataforma:str, duration:str): #aclarar luego duration in ['min', 'season'].
    #separo en casos para 'duration':
    if duration =='min':
        #filtro segun type=Movie, anio y plataforma:
        dur_movie = all_df[(all_df['type']=='Movie') & (all_df['platform']==plataforma) & (all_df['release_year']==anio)]
        serie = dur_movie.duration.str.strip('min')  #le saco el 'min'
        serie.dropna(inplace=True)     #tiro nulos para poder pasar todo a int (sino chilla).
        serie=serie.astype(int)        #lo paso a int. 
        max_ind = serie.idxmax() #indice del max_val. OJO me devuelve el 1er INDICE. tendria q luego buscar TODOS los indices con el max_val!!
        max_val = serie.max() #maximo valor. 
        #titulo=dur_movie.title.loc[max_ind] #agregue el for asiq ya no necesito esto, lo dejo por las dudas que el for rompa...
        #busco todos las filas tq tienen el valor maximo:
        ind=serie[serie==max_val].index #me da un typeIndex con el (o los) indices para el max. 
        #lo recorro guardando los titulos:(calculo q casi siempre sera uno solo o pocos asiq este for no hace mucho)
        titulos=[]
        for i in ind:
            titulos.append(dur_movie.title.loc[i])
        return f'duracion maxima para "Movie" en el anio {anio}, en {plataforma} es de {max_val} minutos, para el/los titulos: {titulos}.' #estaria bueno sacarle los '[]' asi queda mas lindo...escape character?

    #ahora misma cosa pero para 'TV Show':
    if duration=='season':
        dur_TV_Show=all_df[(all_df['type']=='TV Show') & (all_df['platform']==plataforma) & (all_df['release_year']==anio)]
        serie = dur_TV_Show.duration.str.strip('Seasons')  #le saco el 'Seasons', con lo cual tmb le saco 'Season'
        serie.dropna(inplace=True)     
        serie=serie.astype(int)   
        max_ind = serie.idxmax() #indice del max_val. OJO me devuelve el 1er INDICE. tendria q luego buscar TODOS los indices con el max_val!!
        max_val = serie.max() #maximo valor. 
        #titulo=dur_movie.title.loc[max_ind] #agregue el for asiq ya no necesito esto, lo dejo por las dudas que el for rompa...
        #busco todos las filas tq tienen el valor maximo:
        ind=serie[serie==max_val].index #me da un typeIndex con el (o los) indices para el max. 
        #lo recorro guardando los titulos:(calculo q casi siempre sera uno solo o pocos asiq este for no hace mucho)
        titulos=[]
        for i in ind:
            titulos.append(dur_TV_Show.title.loc[i])
        return f'duracion maxima para "TV Show" en el anio {anio}, en {plataforma} es de {max_val} temporadas, para el/los titulos: {titulos}.' 

    else:    
        return 'tercer parametro debe ser "min" o "season".'

In [52]:
#pruebo la funcion para los parametros q se la rta esperada:
get_max_duration(2018,'hulu', 'min')
# OK!!!

'duracion maxima para "Movie" en el anio 2018, en hulu es de 151 minutos, para el/los titulos: [\'The House That Jack Built\'].'

In [53]:
get_max_duration(2018,'hulu', 'season')

'duracion maxima para "TV Show" en el anio 2018, en hulu es de 6 temporadas, para el/los titulos: [\'When Sharks Attack\'].'

In [54]:
#para estos SI la respuesta es mas de uno, osea, valio la pena. faltaria escapar las []//... igual se entiende.
get_max_duration(2017, 'disney', 'season')

'duracion maxima para "TV Show" en el anio 2017, en disney es de 4 temporadas, para el/los titulos: [\'Drain the Oceans\', \'Secrets Of The Zoo\', \'Marvel Super Hero Adventures\'].'

In [55]:
#checkeo que no tenga rarezas para los campos duration de TV Show:
all_df[all_df['type']=='TV Show'].duration.unique()
# OK, luego solo con hacer un str.strip('Seasons') ya me sirve.

array(['1 Season', '3 Seasons', '2 Seasons', '4 Seasons', '7 Seasons',
       '9 Seasons', '6 Seasons', '5 Seasons', '29 Seasons', '19 Seasons',
       '21 Seasons', '8 Seasons', '12 Seasons', '11 Seasons',
       '10 Seasons', '14 Seasons', '15 Seasons', '32 Seasons',
       '16 Seasons', '23 Seasons', '20 Seasons', '13 Seasons',
       '17 Seasons', '30 Seasons', '22 Seasons', '25 Seasons',
       '34 Seasons', '26 Seasons'], dtype=object)

In [56]:
#pruebo con el ejemplo q ya tengo la respuesta, para desarrollar la funcion y poder evaluar el rsltd:
dur_movie=all_df[(all_df['type']=='Movie') & (all_df['platform']=='hulu') & (all_df['release_year']==2018)]

In [57]:
#trabajo con una copia:
serie=dur_movie.copy()

In [58]:
#ahora trabajo en la columna duration:
#le saco el 'min':
serie=serie.duration.str.strip('min')

In [61]:
#checkeo a ver si me da la respuesta esperada:
dur_movie.title.loc[12660] #ya me habia dado el index en otra celda que borre.
#SI!!

'The House That Jack Built'

In [62]:
#4. Actor que más se repite según plataforma y año:
def get_actor(plataforma, anio):
    #para plataforma==hulu, son todos None..luego salvo esa opcion:
    if plataforma=='hulu':
        return 'Informacion no disponible para plataforma hulu.'
    else:
        #if type(anio)!= int:        return 'anio debe ser un numero entero'    else... #esto lo puedo meter como HTPException mejor..
        data=all_df[(all_df['release_year']==anio) & (all_df['platform']==plataforma)] #filtro por los argumentos.
        serie=data.cast
        # separo por 'terminos' separados por coma, y los meto en la lista 'actores':
        actores=[]
        #serie.reset_index(drop=True, inplace=True) #NO HACIA FALTA pues al pasarla a lista se reindexa...
        serie=list(serie) #convierto a lista y la recorro:
        for i in range(0,len(serie)):
            if ',' not in str(serie[i]): #ie, si es un solo nombre (o son varios pero sin coma, lo tomo como uno solo, anda mal en algunos casos, peeero, si uso tipo regex (str.contains()) anda igual, y sino, igual no son muchos)
             actores.append(serie[i]) #NOTAR: son solo 49 las expresiones de .cast con mas de 3 palabras!. asiq no es mucho, casi q lo podria normalizar a mano...
            else:
                sep=str(serie[i]).split(",") #los separo en una serie, y nuevamente los agrego de a uno a actores. ME CHILLA SIN EL str(). x no converir el type de la columna?
                for j in range(0,len(sep)):
                    actores.append(sep[j])                 
    #AHORA 'actores' es una lista con todos los actores, ya filtrado por ese anio y plataforma.
    #resta ver cual se repite mas y cuantas veces. 
        actores=pd.Series(actores)
        actores.value_counts()
        winner=actores.value_counts().index[0]
        cantidad=actores.value_counts()[0]

        #hay q ver si son varios actores con el mismo count:
        k=1
        ganadores=[winner]
        while actores.value_counts()[k]==cantidad:
            ganadores.append(actores.value_counts().index[k])
            k+=1
        if k==1:
            return f'actor que mas se repite: {winner}, aparece {cantidad} veces.'
        else:
            return f'actores que mas se repiten: {ganadores}, aparecen {cantidad} veces.'

In [63]:
get_actor('amazon', 2019)
# hay q buscar Ph.D para ver si es un nombre o solo denominacion!

'actor que mas se repite:   Ph.D., aparece 18 veces.'

In [64]:
#pruebo desarrollarla para 'netflix en 2018': 

data=all_df[(all_df['release_year']==2018) & (all_df['platform']=='netflix')] #filtro por los argumentos.
serie=data.cast

# separo por 'terminos' separados por coma, y los meto en la lista 'actores':
actores=[]
#serie.reset_index(drop=True, inplace=True) #NO HACIA FALTA pues al pasarla a lista se reindexa...
serie=list(serie) #convierto a lista y la recorro:
for i in range(0,len(serie)):
    if ',' not in str(serie[i]): #ie, si es un solo nombre (o son varios pero sin coma, lo tomo como uno solo, anda mal en algunos casos, peeero, si uso tipo regex (str.contains()) anda igual, y sino, igual no son muchos)
        actores.append(serie[i]) #NOTAR: son solo 49 las expresiones de .cast con mas de 3 palabras!. asiq no es mucho, casi q lo podria normalizar a mano...
    else:
        sep=str(serie[i]).split(",") #los separo en una serie, y nuevamente los agrego de a uno a actores. ME CHILLA SIN EL str(). x no converir el type de la columna?
        for j in range(0,len(sep)):
            actores.append(sep[j])                 
#AHORA 'actores' es una lista con todos los actores, ya filtrado por ese anio y plataforma.
#resta ver cual se repite mas y cuantas veces. 
# OJO: podria usar la funcion 'contains' o regex , para salvar los 'cast' que no hayan estado separados por ','??? igual ya me fije mas abajo, son pocos!
actores=pd.Series(actores)
actores.value_counts() 
# me da Andrea Libman, 8  para netflix 2018, OSEA PARECE QUE ESTA BIEN!!
            #PERO, puedo probar todas las entradas (plataformas y anios), para normalizar mas campos si se vean ambiguos.

 Andrea Libman          8
 Takahiro Sakurai       6
 Vincent Tong           6
 Rupa Bhimani           6
 Tabitha St. Germain    6
                       ..
 Hamad Ashkanani        1
 Noor Alghandour        1
 Mohammed Alalawi       1
 Shujoon                1
 Revathi Pillai         1
Length: 6825, dtype: int64

In [65]:
type(actores.value_counts())

pandas.core.series.Series

In [66]:
#COMO RETORNO EL VALOR EN MI FUNCION: en principio solo me pide el actor, no las veces q se repite. 
print(actores.value_counts().index[0])
print(actores.value_counts()[0])
#hay que agregar un if, por las dudas de q sean varios con el mismo count!

 Andrea Libman
8

Busco a ver cuantos .cast  NO estan separados por coma, y tienen mas de 3 palabras, intentando dar con los que podrian ser mas de un nombre.

In [67]:
#extraigo este bloque del prototipo de mi funcion: 
castas=list(all_df.cast) #lista de la column a 'cast'

actores=[]
for i in range(0,len(castas)):
    if ',' not in str(castas[i]): #ie, si es un solo nombre (o son varios pero sin coma, lo tomo como uno solo, anda mal en algunos casos, peeero, si uso tipo regex (str.contains()) anda igual, y sino, igual no son muchos)
        actores.append(castas[i])

In [68]:
len(actores) 
#OSEA, todos los q son solos o sin coma pero varios. 

juntados=[]
for actor in actores:
    if len(str(actor).split())>3:
        juntados.append(actor)
print(juntados)
print(len(juntados))
#len(re.findall(r'\w+', sentence)) #REGULAR EXPRESIONS!! re.

['Narrator - Gillian Barlett', 'Dr Daniel J Nightingale', 'Shinba Tsuchiya | Ayane Sakura | Nobuhiko Okamoto | Kentaro Tomita | Sumire Morohoshi', 'Dr. Charles Russell Severance', 'Narrated by Allison Argo', 'Dr Daniel J Nightingale', 'Dr. Venus Opal Reese', 'Narrator - Paul Roberts', 'Elvira Mistress of Dark', 'Dr Daniel J Nightingale', 'General Mark A. Milley', 'Laetitia Casta Jean Paul Rouve Stefano Accorsi', 'Phillipe Torreton Sophie-Charlotte Husson  Julie Gayet', 'Helene de Fourgorelles Tcheky Karyo Pierre Arditi', 'Fiona Gordon Lucy Tulugarjuk Dominique Abel', 'Xavier Beauvois Chiara Mastroianni  Roschdy Zem', 'Denis Podalydes Isabelle Candalier Phillipe Uchan', 'Ray Emodi mike uchegbu Ray Ighodaro chinelo enemchukwu', 'Tooth & Claw Field Staff', 'Derek Dj Noxolo Daphne Jo', 'The GiggleBellies Monster Trucks', 'Kalu Ikeagwu Scarlet Gomez Bukky Thomas', 'Ngozi Nwaneto Frank Echeben Joy Ini', 'Adaeze Eluke Stephen Odimgbe Domben Chisom', 'IKPONMWOSA AIK ODIASE ONAH CHINYERE OKORIE PREACH BASSEY SUNNY WILLIAMS', 'PAUL SAMBO EMPRESS NJAMA IKPONMWOSA AIK ODIASE', 'Dan David Odion Joy Chidi Manuel', 'Tony Goodman Aik Odiase Nazareth Jason', 'Frank Artus Qwasi Blay Jessica Williams', 'COURAGE AKPANIKAN LAMIROSE ALI EBILOMA EMMANUEL', 'John Dumelo Van Vicker Moses Efret Fatima Koroma', 'Francis Duru Paul Sambo Bruno Iwuoha', 'Iyke Ogbonna George Clinting Ngozi Achms', 'Iyke Ogbonna George Clinting Ngozi Achms', 'Tana Adelana Martha Ankomah Seun Akindele', 'Stan Nze Tamara EteimoLinda Osifo', 'John Dumelo Sana Kanu Winstina Taylor', 'Salim Sahid Kamara Phebean Swill Ram Dee', 'Wole Ojo Mary Lazarus Neye Balogun', 'Dr. Albert Yu-Min Lin', 'Larry the Cable Guy', 'Los Tigres del Norte', 'Paco Ignacio Taibo II', 'Paco Ignacio Taibo II', 'Justin "Alyssa Edwards" Johnson', 'Sofía Niño de Rivera', 'Sofía Niño de Rivera', 'K.G. Chandani Renuka Ratnayake', 'Paco Ignacio Taibo II']
49

viendo esto, hago limpieza para esta col:
1. replace | por , ; - por '' ; Narrator, Narrated por '' ; - por '' ; 
2.

In [69]:
#me fijo si no hay mas '|' en las q SI estan con ',' :
castas=list(all_df.cast) #lista de la column a 'cast'

actores=[]
for i in range(0,len(castas)):
    if '|' in str(castas[i]): #ie, si es un solo nombre (o son varios pero sin coma, lo tomo como uno solo, anda mal en algunos casos, peeero, si uso tipo regex (str.contains()) anda igual, y sino, igual no son muchos)
        actores.append(castas[i])
len(actores)
print(actores)
#solo hay una, luego la reemplazo sin problemas.

['Shinba Tsuchiya | Ayane Sakura | Nobuhiko Okamoto | Kentaro Tomita | Sumire Morohoshi']

In [70]:
all_df.cast.replace('|',',', inplace=True)

In [71]:
all_df.cast.replace('-','', inplace=True)
all_df.cast.replace('Narrator','', inplace=True)
all_df.cast.replace('Narrated','', inplace=True)

LLEGO HASTA ACA CON LA LIMPIEZA PARA LO NECESARIO PARA ESTA FUNCION (la funcion 4). 
LUEGO SI TENGO MAS TIEMPO, PUEDO BUSCAR e IGUALAR con regex's , por ej: 'Dr. == Dr'

In [72]:
#guardo mi dataframe all_df como csv, en la misma carpeta que los otros datasets:
all_df.to_csv('Datasets/all_platforms.csv')